@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/forms";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--starwind-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--starwind-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-text-primary: var(--foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-error: var(--error);
	--color-error-foreground: var(--error-foreground);
	--color-input: var(--input);
	--color-outline: var(--outline);

	/* 组件语义 */
	--color-text-secondary: var(--color-text-secondary);
	--color-text-muted: var(--color-text-muted);
	--color-bg-primary: var(--color-bg-primary);
	--color-bg-secondary: var(--color-bg-secondary);
	--color-bg-tertiary: var(--color-bg-tertiary);
	--color-border: var(--color-border);
	--color-border-light: var(--color-border-light);
	--color-accent-text: var(--color-accent-text);
	--color-accent-bg: var(--color-accent-bg);

	--radius-xs: calc(var(--radius) - 0.375rem);
	--radius-sm: calc(var(--radius) - 0.25rem);
	--radius-md: calc(var(--radius) - 0.125rem);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 0.25rem);
	--radius-2xl: calc(var(--radius) + 0.5rem);
	--radius-3xl: calc(var(--radius) + 1rem);
}

@layer base {
	* {
		@apply border-border;
	}
	*:focus-visible {
		@apply outline-outline;
	}
	html {
		@apply bg-background text-foreground;
	}
	button {
		@apply cursor-pointer;
	}
}

@layer utilities {
	/* transition-colors，但不包含 outline-color 的过渡属性 */
	.starwind-transition-colors {
		transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
			--tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
		transition-timing-function: var(--default-transition-timing-function);
		transition-duration: var(--default-transition-duration);
	}
}
