---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/sections/Footer.astro";
import Header from "../components/sections/Header.astro";

type Props = {
	title?: string;
	description?: string;
	lang?: string;
	showHeader?: boolean;
	showFooter?: boolean;
};

const {
	title = "Demo",
	description = "",
	lang = "zh-CN",
	showHeader = true,
	showFooter = true,
} = Astro.props as Props;
---

<!doctype html>
<html lang={lang} >
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		{showHeader && <Header />}
		<main class="mx-auto max-w-6xl px-4 py-10">
			<slot />
		</main>
		{showFooter && <Footer />}
	</body>
</html>
